@charset "utf-8";


/* ===========
   Base Styles
   ===========
*/
	a#navicon {
		display: block;
		margin: 5px;
	}

	nav ul {display: none;} 

	a#navicon:active+ul, nav ul:active {
		display: block;
		margin-top: 35px;
		margin-left: 10px;
		margin-bottom: 5px;
	} 

nav a img {
	width: 30px;
	height: 30px;
}
/* ===============================
   Mobile Devices: 0 to 480px 
   ===============================
*/

@media only screen and (max-width: 480px) {

}
